body {
  background: $blue;
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  @include padding("normal");

  h1 {
    @include style-font(h1);
  }

  h2 {
    @include style-font(h2);
  }

  h3 {
    @include style-font(h3);
  }

  p,
  span,
  figcaption {
    @include style-font(p);
  }

  div#main-container {
    max-width: 1200px;
    margin: 0 auto;

    header#header {
      margin-bottom: 40px;
    }

    main#main {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 0 0 30%;
        border-radius: 7px;
        background: lighten($color: $blue, $amount: 5);
        min-width: 200px;
        height: 200px;
        margin: 10px;
        overflow: hidden;

        img {
          height: 102%;
          object-fit: cover;
          object-position: center;
        }

        figcaption {
          margin-top: 20px;
        }
      }
    }
  }
}
