body {
  background: $orange;
  font-family: "QuickSand", sans-serif;
  font-size: 1rem;
  padding: 40px;

  h1 {
    @include style-font(h1);
  }

  h2 {
    @include style-font(h2);
  }

  h3 {
    @include style-font(h3);
  }

  p,
  span,
  figcaption {
    @include style-font(p);
  }

  div#main-container {
    max-width: 1200px;
    margin: 0 auto;

    header#header {
      margin-bottom: 40px;
    }
  }
}
