body {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  @include padding("normal");

  h1 {
    @include style-font(h1);
  }

  h2 {
    @include style-font(h2);
  }

  h3 {
    @include style-font(h3);
  }

  p,
  span,
  figcaption {
    @include style-font(p);
  }

  div#main-container {
    max-width: 1200px;
    margin: 0 auto;

    header#header {
      margin-bottom: 40px;
    }

    main#main {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 0 0 30%;
        border-radius: 7px;
        min-width: 200px;
        height: 200px;
        margin: 10px;
        overflow: hidden;
        position: relative;

        &:hover {
          div.code-display {
            right: 0;
          }
        }

        div.code-display {
          position: absolute;
          @include padding("small");
          overflow: scroll;
          right: 100%;
          top: 0;
          transition: all 0.5s ease;
          background-color: $blue;
          width: 100%;
          height: 100%;
          color: $white;
        }

        img {
          height: 102%;
          object-fit: cover;
          object-position: center;
        }

        figcaption {
          margin-top: 20px;
        }
      }
    }
  }
}
